.tile{
    margin-left: 35px;
    margin-top: 60px;
    width: 30px;
    height: 100px;
    
}


.checker{
    height: 25px;
    width: 25px;
}

#imageCenter{
    place-items: center;
}

 #middleTile{
    margin-left: 50px;
}
#rightTile{
    margin-left: 50px;
}