
#gameBoard{
    display: grid;
    grid-template-columns: repeat(12, 45px) ;
    width: 600px;
    height: 600px;
    
    background-image: url('../../assets/images/board.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:600px 600px ;
    margin-left: auto;
    margin-right: auto;
}


